@media only screen and (min-width: 600px) {
    .hamburger, #chkToggle {
        display: none;
    }
    .navbar-menu {
        visibility: visible;
    }
    .navbar-menu > li a,.navbar-menu {
        opacity: 1;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
   
    .navbar-menu{
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;

    }
    .navbar-menu li {
        margin-right: 1.5rem;
    }

    .nav-links {
        margin-left: 40px;
    }
    
    
    
}