@media only screen and (min-width: 600px) {
    .hamburger, #chkToggle {
        display: none;
    }
    .navbar-menu {
        visibility: visible;
    }
    .navbar-menu > li a,.navbar-menu {
        opacity: 1;
        padding-top: 0;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: auto;
        align-items: center;
    }
   
    .navbar-menu{
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0;

    }
    .navbar-menu li {
        margin-right: 1.5rem;
    }

    .nav-links {
        margin-left: 40px;
    }
    header {
        background-position: 0 0%;
        min-height: 85vh;
    }
    header h1 {
        font-size: 5.4rem;
    }
    header a {
        font-size: var(--normal-font);
        padding: 8px 16px;
     }
    
    
}